/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  margin: 0;
  /*color: white;*/
  height: 100vh;
  /*background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );*/
  font-family: sans-serif;
  overflow-y: hidden;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.main {
  display: flex;
  height: 100vh;
}

.Sidebar {
  width: 200px;
  flex-shrink: 0;
  background-color: #777;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Sidebar button {
  background-color: transparent;
  color: white;
  font-size: 18px;
  margin: 10px 0px;
  border: none;
  appearance: none;
  cursor: pointer;
}

.Sidebar button:hover {
  text-decoration: dashed;
}

.books {
  color: black;
  width: 100%;
  overflow-y: scroll;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.book {
  width: 130px;
  height: 200px;
  margin: 15px;
  display: flex;
}

.book img {
  object-fit: contain;
  width: 100%;
}

.book p {
  display: none;
}
